@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$font-family-base: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;

body {
  font-family: $font-family-base;
}
