// Importação no topo do arquivo (FORA de qualquer bloco)
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&display=swap');

body {
  font-family: "Playwrite NZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
}
