body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    @import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap');

    // <weight>: Use a value from 200 to 900
    // <width>: Use a value from 75 to 125
    // <uniquifier>: Use a unique and descriptive class name

    .playwrite-nz-guides-regular {
      font-family: "Playwrite NZ Guides", cursive;
      font-weight: 400;
      font-style: normal;
    }
}
